{% extends 'base.html' %} {% block title %} Deposit {% endblock%}  {% block content %}
<form action = "/deposit" method = "post">
     <input type="hidden" name = "_id" value = "{{account._id}}"/>
     <input type="hidden" name = "balance" value = "{{account.balance}}"/>
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Amount</label>
       <input type="number" class="form-control" id="exampleInputEmail1" name = "amount" aria-describedby="emailHelp">
     </div>
     
     <button type="submit" class="btn btn-primary">Add Money</button>
   </form>
   {%endblock%} 